{% extends "layout.html" %}

{% block content %}
<div class="about-page-section">
    <div class="top-slider">
        <div class="container">
            <h1>About Death Road</h1>
            <h2>Built about a dozen years ago...</h2>
        </div>
    </div>

    <div class="spacer py-3"></div>

    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <img src="static/img/about-01.jpg" class="fit-image grayscale-image" alt="">
            </div>

            <div class="col-md-8 align-center">
                <blockquote class="blockquote">
                    <p class="mb-0">It shall be then, when the dead rise, a duel shall mark a rise of faith.</p>
                    <div class="blockquote-footer text-right"><cite title="Source Title">The Testaments Of Ihtos</cite></div>
                </blockquote>

                <p class="pt-5 text-justify">The field is littered with bodies, shells and blood. Red, khaki and blue are the new colors of what was once a vast, rich field, which has now become the stage of a long, destructive battle.</p>
                <p class="text-justify">The air which would normally be rich with scents from nearby breweries is now merely a canvas for the stench of death and the cries of the dying, enough to make even the bravest tremble in fear.</p>
                <p class="text-justify">A minor boulder in a grim cliff side marks the entrance to this dungeon. Beyond the boulder lies a large, timeworn room. It's covered in rubble, bat droppings and dead insects. Further ahead are two paths, but the right is a dead end. Its twisted trail leads passed countless rooms and soon you enter a worn area. There are several braziers scattered around, somehow they're still burning, or burning again. What happened in this place?</p>
            </div>
        </div>

        <div class="spacer py-5"></div>

        <div class="row">
            <div class="col-md-6">
                <blockquote class="blockquote">
                    <p class="mb-0">It shall be then, when the darkness rises once more, the stranger shall mark the rise of what was forgotten.</p>
                    <div class="blockquote-footer text-right"><cite title="Source Title">The Testaments Of Ihtos</cite></div>
                </blockquote>

                <p class="pt-2 text-justify">Despite the decay of the buildings there was a certain charm about the town. Everything was greener as nature grew wild and the quiet during the day was almost peaceful. But with nothing else to lose this town had a strange sense of comfort about it. Like a world of opportunity, except there was nobody there to take it.</p>
                <p class="text-justify">No matter how you looked at it, this town was an eerie sight to behold. Lives forgotten, perhaps completely ruined and there was barely anything to show for it. But there was an awful feeling of hopelessness you couldn't escape from. Even if those who lived here returned too much had been lost already and it'd never be the same again.</p>
            </div>

            <div class="col-md-6">
                <img src="static/img/about-02.jpg" alt="" class="fit-image">
            </div>
        </div>

        <div class="spacer py-3"></div>
    </div>
</div>


{% endblock %}
