{% extends "layout.html" %}

{% block content %}
<div class="account-section">
    <div class="top-slider">
        <div class="container"></div>
    </div>

    <div class="spacer py-3"></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container content">
        <h1>Welcome!</h1>
        <p>You are now logged in as <strong>{{ current_user.username }}</strong>!</p>
        <p>View your public profile <a href="{{ url_for('users.profile', id=current_user.id) }}">here</a>.</p>

        <hr />

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <fieldset>
                <legend class="h3 font-weight-normal border-bottom pb-4">Update Profile</legend>

                <div class="form-group form-inline">
                    {{ form.username.label(class="form-control-label pr-3") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group form-inline">
                    {{ form.email.label(class="form-control-label pr-3") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group form-inline">
                    {{ form.hidemail_checkbox.label(class="form-control-label pr-3") }}
                    {{ form.hidemail_checkbox }}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>
        </form>

        <div class="spacer py-3"></div>
    </div>
</div>
{% endblock %}
