{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Death Road</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Through the shadows we persevered - forwards and onwards...</h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">Enter the world</a>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-white mb-4">Bound by chains, but now I am free</h2>

                <p class="text-white-50">You travel forward through the ominous portal revealed only during a full moon. You're immediately met by a disturbing world. The air is thick with smoke, obstructing your vision beyond a few meters. The light plays tricks on your eyes as shadows from a new landscape make your imagination go wild. <br>In spite of the treacherous landscape you're at ease and you feel unsecure in this world. This world is certainly unwelcoming, but with so much to discover you can't help but explore...</p>

                <a href="about" class="btn btn-secondary">Find out more</a>
            </div>
        </div>

        <img src="static/img/warriors.png" class="img-fluid mt-5" alt="">
    </div>
</section>

<!-- story Section -->
<section id="story" class="story-section bg-light">
    <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="static/img/shoreline.jpg" alt="">
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <h4>The world...</h4>

                <p class="text-black-50 mb-0 text-justify">All around you you smell traces of creatures nobody could've ever imagined. While they appear to be docile and safe, you keep your distance and an eye on them. You see traces of gliding creatures, bulky creatures, and what you think might be sliding creatures of some sort.</p>
                <br />
                <p class="text-black-50 mb-0 text-justify">With a final check of your supplies you ready yourself as you begin your life as a wanderer, explorer, and adventurer in this new world...</p>
            </div>
        </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
            <img class="img-fluid" src="static/img/p-01.jpg" alt="">
        </div>

        <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Mystery</h4>

                        <p class="mb-0 text-white-50 text-justify">The forest was vast and primal. A tumult of animal sounds, most belonged to rummaging critters, brightened up the forest, and were out of sync with the occasional sounds of large animals in the distance.</p>

                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
            <img class="img-fluid" src="static/img/p-02.jpg" alt="">
        </div>

        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">The creatures</h4>

                        <p class="mb-0 text-white-50 text-justify">A rumble in the blackness, a deafening silence, and suddenly you're challenged by a lumbering figure of sin and anguish. The creature's eyes never once stopped watching your every move...</p>

                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>

<!-- Signup Section -->
<section id="contact" class="subscribe-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>

                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

                <form class="form-inline d-flex">
                    <input type="email" class="form-control flex-fill " id="inputEmail" placeholder="Enter email address...">

                    <button type="submit" class="btn btn-primary mx-auto my-2">Subscribe</button>
                </form>

            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">

                        <div class="small text-black-50">
                            4923 Market Street, Orlando FL
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">

                        <div class="small text-black-50">
                            <a href="#">info@deathroad.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">

                        <div class="small text-black-50">
                            +4 (012) 345-6789
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="#" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}
