{% extends "layout.html" %}

{% block content %}
<div class="about-page-section">
    <div class="top-slider">
        <div class="container"></div>
    </div>

    <div class="spacer py-3"></div>

    <div class="container content">
        <h2>Statistics</h2>

        <table>
            <thead style="font-weight: bold">
                <tr>
                    <td>ID</td>
                    <td>Username</td>
                </tr>
            </thead>

            <tbody>
                {% for i in all_users %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="spacer py-3"></div>
    </div>
</div>


{% endblock %}
