<div class="col-lg-2 order-first order-lg-2">
    <h4>Stats</h4>

    <div class="row">
        <div class="col-4">Status:</div>

        {% if hero.alive == 2 %}
        <div class="col-8 text-success">Alive</div>
        {% elif hero.alive == 1 %}
        <div class="col-8 text-warning">Reviving</div>
        {% else %}
        <div class="col-8 text-danger">Dead</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-4">HP:</div>
        <div class="col-8">{{ hero.hp }}/{{ hero.hp_max }}</div>
    </div>

    <div class="row">
        <div class="col-4">EXP:</div>
        <div class="col-8">{{ hero.current_exp }}/{{ hero.next_lvl_exp }}</div>
    </div>
</div>