<div class="col-lg-2 order-first order-lg-2">
    <h4>Stats</h4>

    <div class="row py-3">
        <div class="col">
            <h5>Local Time:</h5>
            <div id="timeNow"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Status:</div>

        {% if hero[0].alive == 2 %}
        <div class="col-8 text-success">Alive</div>
        {% elif hero[0].alive == 1 %}
        <div class="col-8 text-warning">Reviving</div>
        {% else %}
        <div class="col-8 text-danger">Dead</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-4">Action:</div>

        {% if hero[0].alive == 0 %}
        <div class="col-8 text-danger">Dead</div>
        {% elif hero[0].alive == 1 %}
        <div class="col-8 text-warning">Reviving</div>
        {% else %}
            {% if hero[0].action == 1 %}
            <div class="col-8 text-warning">Returning</div>
            {% else %}
            <div class="col-8 text-info">Waiting...</div>
            {% endif %}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-4">Level:</div>
        <div class="col-8">{{ hero[0].level }}</div>
    </div>

    <div class="row">
        <div class="col-4">HP:</div>
        <div class="col-8" data-toggle="tooltip" data-placement="bottom" title="{% if hero[0].hp < max_hp %}HP will be full at {{ hp_full_time.strftime('%H:%M:%S') }}{% else %}HP is Full{% endif %}">{{ hero[0].hp }}/{{ max_hp }}</div>
    </div>

    <div class="row">
        <div class="col-4">EXP:</div>
        <div class="col-8" data-toggle="tooltip" data-placement="bottom" title="{{ hero[0].next_lvl_exp - hero[0].current_exp }} is the amount of experience needed for level up">{{ hero[0].current_exp }}/{{ hero[0].next_lvl_exp }}</div>
    </div>

    <div class="row">
        <div class="col-4">Damage:</div>
        <div class="col-8">{{ (hero[1].attack_point * 0.5)|round|int }}-{{ (hero[1].attack_point * 1.26)|round|int }}</div>
    </div>

    {% if hero[0].alive == 1 %}
        <div class="row pt-5">
            <p>Your hero will be revived after this time:</p>
            <p>{{ reviving_time.strftime("%d.%m.%Y %H:%M:%S") }}</p>
        </div>
    {% endif %}

    {% if hero[0].action == 1 %}
        <div class="row pt-5">
            <p>Your hero will arrive home after:</p>
            <p>{{ returning_time.strftime("%d.%m.%Y %H:%M:%S") }}</p>
        </div>
    {% endif %}
</div>

<script>
function doDate()
{
    var str = "";
    var now = new Date();

    str = now.getDate() + "." + (now.getMonth()+1) + "." + now.getFullYear() + ' ' +
        now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();

    document.getElementById("timeNow").innerHTML = str;
}
setInterval(doDate, 100);
</script>