{% extends "hero_layout.html" %}

{% block hero_main %}
<div class="col-lg-8">
    <h4>Training Zone</h4>

    {% if hero.alive == 0 %}
    <div class="row pt-5 pb-3">
        <div class="col">
            <h5>Your hero is currently dead.</h5>
        </div>
    </div>
    {% elif hero.alive == 1 %}
    <div class="row pt-5 pb-3">
        <div class="col">
            <h5>Your hero is currently reviving. Wait...</h5>
        </div>
    </div>
    {% else %}
    <div class="row pt-5 pb-3">
        <div class="col">
            <h5>Choose your training program:</h5>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="list-group list-group-horizontal pb-5 text-center" id="list-tab" role="tablist">
                {% for animal in animals %}
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
                   href="#animal-{{ animal.name }}" role="tab" aria-controls="home"><strong>{{ animal.name }}</strong><br> Level {{ animal.id }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="tab-content" id="nav-tabContent">
                {% for animal in animals %}
                <div class="tab-pane fade" id="animal-{{ animal.name }}" role="tabpanel" aria-labelledby="list-home-list">
                    <h3>Level {{ animal.id }} - {{ animal.name }}</h3>
                    <p>{{ animal.description }}</p>
                    <hr class="w-25 m-0 py-3">
                    <h5>Animal Stats</h5>

                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="col-2">HP</td>
                                <td>{{ animal.hp }}</td>
                            </tr>
                            <tr>
                                <td class="col-2">Damage</td>
                                <td>{{ (animal.attack_point * 0.5)|round|int }}-{{ (animal.attack_point * 1.26)|round|int }}</td>
                            </tr>
                            <tr>
                                <td class="col-2">Experience given</td>
                                <td>{{ (animal.exp_given * 0.76)|round|int }}-{{ (animal.exp_given * 1.26)|round|int }}</td>
                            </tr>
                            <tr>
                                <td class="col-2">Time</td>
                                <td>xXx</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ url_for('hero.train', id=animal.id) }}" class="btn btn-outline-info">Start Training</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% include "hero_stats.html" %}
{% endblock %}