{% extends "hero_layout.html" %}

{% block hero_main %}
<div class="col-lg-8">
    <h4>Training Zone</h4>

    <div class="row">
        <div class="col">
            <div class="list-group list-group-horizontal py-5 text-center" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home"><strong>Train Animal</strong><br> Level 1</a>

                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile"><strong>Train Animal</strong><br> Level 2</a>

                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages"><strong>Train Animal</strong><br> Level 3</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h3>Level 1</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <input type="submit" class="btn btn-outline-info" name="training-1" value="Start Training">
                </div>

                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h3>Level 2</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a L
                        atin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source.</p>
                    <input type="submit" class="btn btn-outline-info" name="training-2" value="Start Training">
                </div>

                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h3>Level 3</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                    <input type="submit" class="btn btn-outline-info" name="training-3" value="Start Training">
                </div>
            </div>
        </div>
    </div>

</div>
{% include "hero_stats.html" %}
{% endblock %}