<div class="col-lg-2 order-first order-lg-2">
    <h4>Stats</h4>

    <div class="row py-3">
        <div class="col">
            <h5>Local Time:</h5>
            <div id="timeNow"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Status:</div>

        {% if hero.alive == 2 %}
        <div class="col-8 text-success">Alive</div>
        {% elif hero.alive == 1 %}
        <div class="col-8 text-warning">Reviving</div>
        {% else %}
        <div class="col-8 text-danger">Dead</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-4">Action:</div>

        {% if hero.action == 1 %}
        <div class="col-8 text-warning">Returning</div>
        {% else %}
        <div class="col-8 text-info">Waiting...</div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-4">Level:</div>
        <div class="col-8">{{ hero.level }}</div>
    </div>

    <div class="row">
        <div class="col-4">HP:</div>
        <div class="col-8">{{ hero.hp }}/{{ hero.hp_max }}</div>
    </div>

    <div class="row">
        <div class="col-4">EXP:</div>
        <div class="col-8">{{ hero.current_exp }}/{{ hero.next_lvl_exp }}</div>
    </div>

    <div class="row">
        <div class="col-4">Damage:</div>
        <div class="col-8">{{ (hero.attack_point * 0.5)|round|int }}-{{ (hero.attack_point * 1.26)|round|int }}</div>
    </div>

    {% if hero.alive == 1 %}
        <div class="row pt-5">
            <p>Your hero will be revived after this time:</p>
            <p>{{ reviving_time.strftime("%d.%m.%Y %H:%M:%S") }}</p>
        </div>
    {% endif %}

    {% if hero.action == 1 %}
        <div class="row pt-5">
            <p>Your hero will arrive home after:</p>
            <p>{{ returning_time.strftime("%d.%m.%Y %H:%M:%S") }}</p>
        </div>
    {% endif %}
</div>

<script>
function doDate()
{
    var str = "";
    var now = new Date();

    str = now.getDate() + "." + (now.getMonth()+1) + "." + now.getFullYear() + ' ' +
        now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();

    document.getElementById("timeNow").innerHTML = str;
}
setInterval(doDate, 100);
</script>