{% extends "hero_layout.html" %}

{% block hero_main %}
<div class="col-lg-8">
    <h4>Hero Overview</h4>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row pt-3">
        <div class="col-md-2 text-center" style="font-size: 12rem;">
        {% if hero.gender == False %}
            <i class="fas fa-male"></i>
        {% else %}
            <i class="fas fa-female"></i>
        {% endif %}
        </div>

        <div class="col-md-4 py-3">
            <table class="table table-hover ml-5">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ hero.name }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Level</th>
                        <td>{{ hero.level }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Status</th>

                        {% if hero.alive == 2 %}
                        <td class="text-success">Alive</td>
                        {% elif hero.alive == 1 %}
                        <td class="text-warning">Reviving</td>
                        {% else %}
                        <td class="text-danger">Dead</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <th scope="row">Health</th>
                        <td>{{ hero.hp }}/{{ hero.hp_max }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Experience</th>
                        <td>{{ hero.current_exp }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Exp needed for next level</th>
                        <td>{{ hero.next_lvl_exp }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Attack Points</th>
                        <td>{{ hero.attack_point }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Health Regeneration Rate (HP/sec)</th>
                        <td>{{ hero.hp_regen_rate }}</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <form method="post">
                                {{ form.hidden_tag() }}
                                {% if hero.alive == 2 %}
                                {{ form.h_kill(class="btn btn-outline-warning btn-lg btn-block") }}
                                {% elif hero.alive == 0 %}
                                {{ form.h_revive(class="btn btn-outline-success btn-lg btn-block") }}
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <!-- Button trigger modal -->
            <a href="/delete" class="text-danger small" role="button" data-toggle="modal" data-target="#deleteHeroModal">Delete Hero</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteHeroModal" tabindex="-1" role="dialog" aria-labelledby="del-hero-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="del-hero-label">Are you sure you want to permanently delete your Hero?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This action will permanently delete your hero and all your achievements so far. Be careful, this action is irreversible. If you agree to continue all your data will be permanently lost. Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <a href="{{ url_for('hero.hero_delete') }}" class="btn btn-danger" role="button">Permanently Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "hero_stats.html" %}
{% endblock %}
